---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import Header from "../components/Header.astro";
import TableOfContents from "../components/TableOfContents.astro";

type Props = CollectionEntry<"blog">["data"] & { headings: MarkdownHeading[] };

const { title, description, pubDate, updatedDate, heroImage, headings } =
  Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body>
    <Header />
    <main>
      <article>
        {
          heroImage && (
            <div class="hero-image">
              <Image width={720} height={200} src={heroImage} alt="" />
            </div>
          )
        }
        <div class="prose">
          <div class="title">
            <div class="date">
              <FormattedDate date={pubDate} />
              {
                updatedDate && (
                  <div class="last-updated-on">
                    Last updated on <FormattedDate date={updatedDate} />
                  </div>
                )
              }
            </div>
            <h1>{title}</h1>
            <h6>{description}</h6>
            {headings.length > 1 && <TableOfContents headings={headings} />}
          </div>
          <hr />
          <slot />
        </div>
      </article>
    </main>
    <Footer />
  </body>
</html>
